---
name: CI

on:
  push:
    branches:
      - main
    tags-ignore:
      - "*"
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

concurrency:
  group: build-java-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: jqassistant-tooling/jqassistant-github-actions/.github/workflows/ci.yml@main
    with:
      java_test_versions: '[17, 21]' # use versions supported by last Spring version
      publish_snapshots: true
    secrets:
      ossrh_username: ${{ secrets.OSSRH_USERNAME }}
      ossrh_password: ${{ secrets.OSSRH_PASSWORD }}
      ossrh_signing_key: ${{ secrets.OSSRH_SIGNING_KEY }}
      ossrh_signing_password: ${{ secrets.OSSRH_SIGNING_PASSWORD }}
      sonar_token: ${{ secrets.SONAR_TOKEN }}
  build-and-push-image:
    runs-on: ubuntu-latest
    needs: build
    if: contains(fromJSON('["buschmais", "jqassistant-plugin", "jqassistant-tooling", "jQAssistant"]'), github.repository_owner) && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master') && github.event_name != 'pull_request'
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io/${{ github.repository_owner }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: "17"
          cache: 'maven'
      - uses: s4u/maven-settings-action@v4.0.0
        with:
          sonatypeSnapshots: true
          servers: |
            [{
              "id": "ghcr.io/${{ github.repository_owner }}",
              "username": "${{ github.actor }}",
              "password": "${{ secrets.GITHUB_TOKEN }}"
            }]
      - name: build-service-and-dependencies
        run: mvn compile -am -pl :jqassistant-dashboard-service
      - name: build-image
        run: mvn jib:build -pl :jqassistant-dashboard-service -Ddashboard.image.registry=ghcr.io/${{ github.repository_owner }} -Ddashboard.image.repository=jqassistant-component-dashboard -Pproduction
